version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.10

    working_directory: ~/sls-lambdas

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test

  deploy:
    docker:
      - image: circleci/python:3.6.4

    working_directory: ~/sls-lambdas

    steps:
      - checkout
      - run:
          name: Install Python deps
          command: sudo pip install awscli
      - run:
          name: Install Python deps
          command: sudo pip install pyyaml
      - run:
          name: Publish on Serverless repository
          command: bash publish_lambda.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master